#documentPane, .bgcolor{
    -fx-background-color:#18313D;
}


#btMainsSreenAnalitics{
	-fx-background-color:#CEDCBD;
}

#btMainsSreenSettings{
    -fx-background-color:#226070;
 }

#btMainsSreenExit{
	-fx-background-color:#87AC9E;
}


#btMainsSreenAnalitics:hover,
#btMainsSreenSettings:hover,
#btMainsSreenExit:hover
{
    -fx-background-color:#FCFFF5;
    -fx-text-fill: #18313D;
}

#circle1
{
-fx-opacity:1;
-fx-stroke-width:12;
-fx-stroke-dash-array:40;

}

#circle2
{
-fx-opacity:1;
-fx-stroke-width:13;
-fx-stroke-dash-array:50;
}

#circle3
{
-fx-opacity:1;
-fx-stroke-width:10;
-fx-stroke-dash-array:30;
}


.circleMini
{
-fx-opacity:1;
-fx-stroke-width:7;
-fx-stroke-dash-array:25;
}

.btnTasks{
-fx-background-color:#FCFFF6;
}

.btnRequests{
-fx-background-color:#18313D;
-fx-text-fill:#FCFFF6;
}

.textLabel{
-fx-text-fill:#183ccD;
}

