#documentPane, .bgcolor{
    -fx-background-color:#18313D;
}


#btMainsSreenAnalitics{
	-fx-background-color:#CEDCBD;
}

#btMainsSreenSettings{
    -fx-background-color:#226070;
 }

#btMainsSreenExit{
	-fx-background-color:#87AC9E;
}


#btMainsSreenAnalitics:hover,
#btMainsSreenSettings:hover,
#btMainsSreenExit:hover
{
    -fx-background-color:#FCFFF5;
    -fx-text-fill: #18313D;
}

#circle1
{
-fx-opacity:1;
-fx-stroke-width:12;
-fx-stroke-dash-array:40;

}

#circle2
{
-fx-opacity:1;
-fx-stroke-width:13;
-fx-stroke-dash-array:50;
}

#circle3
{
-fx-opacity:1;
-fx-stroke-width:10;
-fx-stroke-dash-array:30;
}


.circleMini
{
-fx-opacity:1;
-fx-stroke-width:7;
-fx-stroke-dash-array:25;
}

.btnTasks{
-fx-background-color:#FCFFF6;
}

.btnRequests{
-fx-background-color:#18313D;
-fx-text-fill:#FCFFF6;
}

.textLabel{
-fx-text-fill:#183ccD;
}

.tree-table-view{
    -fx-tree-table-color: #87AB9D;
    -fx-tree-table-rippler-color : #22606F;
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: #FCFFF6;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #CEDBBD
}

.tree-table-view .column-header .label {
    -fx-text-fill : #193340;
    -fx-padding : 10 0 10 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #22606F
}


.tree-table-view .column-header-background{
    -fx-border-width : 1 1.0 1 1;
    -fx-border-color:#CEDBBD;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:1 1 1 1;
    -fx-padding : 10 5 10 5 ;
    -fx-alignment: center;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: #CEDBBD;
}
